body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background:#fafafa;
}

/* NAVBAR */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 20px;
    border-bottom:1px solid #ccc;
    background:white;
    position:sticky;
    top:0;
}

.logo{
    display: flex;
    align-items: center;
    gap: 8px; /* espaço entre o ícone e o texto */
    font-size: 22px;
    font-weight: bold;
}

.logo img{
    width: 30px;
}

.navbar input{
    padding:6px;
    width:200px;
}

.icons span{
    margin-left:15px;
    font-size:20px;
    cursor:pointer;
}

.icons img{
    width: 20px;
    height: 20px;
}

.icons img{
    width: 25px;
    height: 25px;
}

.icons img{
    width: 20px;
    height: 20px;
}

/* STORIES */

.stories{
    display: flex;
    gap: 20px;
    padding: 15px;
    overflow-x: auto;
    background: #ffffff;
    justify-content: center;
}

.story{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 12px;
}

.story img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    padding: 3px;

    background: linear-gradient(
        45deg,
        #feda75,
        #fa7e1e,
        #d62976,
        #962fbf,
        #4f5bd5
    );

    object-fit: cover;
}

.story p{
    margin-top: 5px;
}


/* FEED */

.feed{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:20px;
}




/* POST */

.post{
    background:white;
    width:450px;
    border:1px solid #ccc;
    margin-bottom:30px;
}

/* HEADER DO POST */

.post-header{
    display:flex;
    align-items:center;
    padding:10px;
}

.perfil{
    width:35px;
    height:35px;
    border-radius:50%;
    margin-right:10px;
}


/* IMAGEM */

.post-img{
    width:100%;
}

/* VIDEO */

.post-video{
    width:100%;
}


/* ICONES */

.post-icons{
    padding:10px;
    font-size:22px;
}

/* LEGENDA */

.legenda{
    padding:0 10px 10px 10px;
}